<div id="startPoint"></div>

<div class="goToStartButton" [ngClass]="{ 'visible': goToStartButtonVisible }">
    <a href="#startPoint">
        <img src="assets/img/arrow.png" alt="arrow">
    </a>
</div>

<div class="glossarTitleMobile hide-desktop">
    <img src="assets/img/main-logo.png" alt="Main Logo">
    <div>NEW WORK GLOSSAR</div>
</div>

<div class="glossarTitleDesktop  hide-mobile">
    <div class="glossarTitleDesktopBox">
        <div class="perspective-text">
            <div class="perspective-line">
                <p></p>
                <p>New Work</p>
            </div>
            <div class="perspective-line">
                <p>New Work</p>
                <p>Glossar</p>
            </div>
            <div class="perspective-line">
                <p>Glossar</p>
                <p>Firma Gmbh</p>
            </div>
            <div class="perspective-line">
                <p>Firma Gmbh</p>
                <p>Encyclopedia</p>
            </div>
            <div class="perspective-line">
                <p>Encyclopedia</p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="mainContent">
    <!-- Alphabet-Navigation -->
    <div class="alphaContent">
        <div *ngFor="let letter of alphabet" class="alphaBox">
            <a href="#{{letter}}">{{letter}}</a>
        </div>
    </div>
    <!-- Einträge nach Alphabet anzeigen -->
    <div class="letterBox" *ngFor="let letter of alphabet">
        <!-- Überschrift für jeden Buchstaben -->
        <div class="letterDirection" id="{{letter}}">
            <div class="letterBeforeLine"></div>
            <div class="letterAreaBySingle">{{letter}}</div>
            <div class="letterAfterLine"></div>
        </div>
        <!-- Einträge für den aktuellen Buchstaben anzeigen -->
        <div lang="de" (click)="toggleDetails(entry)" *ngFor="let entry of entries" class="entry"
            [hidden]="entry.title[0].toUpperCase() !== letter">
            <!-- Titel als anklickbaren Link -->
            <div class="entryTitleHover" [innerHTML]="makeTitleBold(entry.fullTitle, entry.title)"></div>
            <!-- Eintragdetails -->
            <div *ngIf="entry.showDetails">
                <img class="entryImg" *ngIf="entry.imageUrl" [src]="entry.imageUrl" alt="Beitragsbild">
                <p class="entryDescription">{{ entry.description }}</p>
                <div class="entryCreatorBox">
                    <div>Ersteller: {{ entry.creator }}</div>
                    <div>{{ entry.date }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <h4>Written by Yener Bas &copy; 2024</h4>
    <a class="kontaktButton" href="https://www.yener-bas.de" target="_blank">Kontakt</a>
</footer>