<header id="startPoint">
    <img src="assets/img/main-logo.png" alt="Main Logo">
    <div>NEW WORK GLOSSAR</div>
</header>
<div class="glossar">
    <!-- Alphabet-Navigation -->
    <div class="glossarAlphabetNavigation">
        <div *ngFor="let letter of alphabet" class="glossarAlphabetNavigationBox">
            <a href="#{{letter}}">{{letter}}</a>
        </div>
    </div>
    <!-- Einträge nach Alphabet anzeigen -->
    <div class="glossarContent" *ngFor="let letter of alphabet">
        <!-- Überschrift für jeden Buchstaben -->
        <div class="glossarContentSeperateByLetter" id="{{letter}}">
            <div class="glossarContentSeperateByLetterBoxBeforeLine"></div>
            <div class="glossarContentSeperateByLetterBox">{{letter}}</div>
            <div class="glossarContentSeperateByLetterBoxAfterLine"></div>
        </div>
        <!-- Einträge für den aktuellen Buchstaben anzeigen -->
        <div lang="de" (click)="openEntry(entry)" *ngFor="let entry of entries" class="glossarContentEntry"
            [hidden]="entry.title[0].toUpperCase() !== letter">
            <!-- Titel als anklickbaren Link -->
            <div [innerHTML]="makeGlossarEntryTitleBold(entry.fullTitle, entry.title)"></div>
            <!-- Eintragdetails -->
            <div *ngIf="entry.showDetails">
                <img class="glossarContentEntryImage" *ngIf="entry.imageUrl" [src]="entry.imageUrl" alt="Beitragsbild">
                <p class="glossarContentEntryDescription">{{ entry.description }}</p>
                <div class="glossarContentEntryCreatorBox">
                    <div>Ersteller: {{ entry.creator }}</div>
                    <div>{{ entry.date }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <h4>Developer Project by Yener Bas &copy; 2024</h4>
    <a class="footerContactButton" href="https://www.yener-bas.de" target="_blank">Kontakt</a>
</footer>
<!-- Button rechts unten um per klick zum Anfang der Seite zu Scrollen -->
<div class="goToStartButton" [ngClass]="{ 'visible': goToStartButtonVisible }">
    <a href="#startPoint">
        <img src="assets/img/arrow.png" alt="arrow">
    </a>
</div>